* {
  box-sizing: border-box;
}

.atribute {
    display: none;
}
.show {
    display: block;
}

  .product {
    border: black 4px solid;
    padding: 20px;
    margin: 50px;
    width: 200px;
    height: 200px;
    align-items: center;

    p{
      text-align:center;
      margin: 5px;
      
    }
  }

  #delete{
    display: flex;
    flex-wrap: wrap;
  }
  .all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
  }

  footer p{
    text-align: center;
    border-top: black 2px solid;
    padding-top: 30px;
  }

  nav{
    border-bottom: black 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 10px;
    
    h1 {
      margin: 0;
    }
    .buttons {
      
      button a {
        text-decoration: none;
         a::after {
          color: black;
         };
      }
    }
  }
#error {
  color: red;
  margin-bottom: 10px;
}

#product_form {
  text-align: left;
  background-color: rgb(238, 238, 238);
  width: 500px;
  margin: 40px auto 100px;
  padding: 20px 150px;
}

input[type=text] {
  margin: 5px 0 20px 0;
  padding: 10px;
  border: none;
}

#productType {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 97%;
  padding: 10px;
  border:none;
  
}

.buttons {
  
  a{
    color: black;
    
  }
  button {
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  .cancel, .delete{
    background-color: rgb(250, 139, 139);
  }
  .save, .add{
    background-color: rgb(136, 190, 136);
  }
}

