.atribute {
    display: none;
}
.show {
    display: block;
}

  .product {
    border: black 4px solid;
    padding: 20px;
    margin: 50px;
    width: 150px;
    height: 150px;
    align-items: center;

    p{
      text-align:center;
      margin: 5px;
      
    }
  }

  #delete{
    display: flex;
    flex-wrap: wrap;
  }
  .all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
  }

  footer p{
    text-align: center;
    border-top: black 2px solid;
    padding-top: 30px;
  }

  nav{
    border-bottom: black 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 10px;
    
    h1 {
      margin: 0;
    }
    .buttons {
      
      button a {
        text-decoration: none;
         a::after {
          color: black;
         };
      }
    }
  }
#error {
  color: red;
}